{% extends "uminity_coms/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
<nav aria-label="breadcrumb" >
  <ol class="breadcrumb" style="background-color: white">
    <li class="breadcrumb-item"><a href="{% url 'uminity_coms:index' %}">Головна</a></li>
    <li class="breadcrumb-item active" aria-current="page">Твори на розгляд</li>
  </ol>
</nav>
{% endblock page_header %}

{% block content %}

<div class="card mb-3">
    <h5 class="card-header">
        Твори на розгляд &nbsp;
        <a class="btn btn-primary" href="{% url 'uminity_coms:new_publication' %}" role="button">Додати новий твір</a><br>
    </h5>
</div>

{% for publication in publications %}
<div class="card mb-3">
    <h5 class="card-header">
        <a href="{% url 'uminity_coms:publication' publication.id %}">{{ publication.text }}</a>
        <small>- {{ publication.date_added|date:'M d, Y H:i' }}</small>
     </h5>
</div>
{% empty %}
    <p>Не додано жодного допису.</p>
{% endfor %}

{% if publications.has_other_pages %}
<div class="d-flex justify-content-center">
    <ul class="pagination">
        {% if publications.has_previous %}
         <li><a href="?page={{publications.previous_page_number}}" class="page-link">&laquo</a></li>
        {% endif %}

        {% for page in custom_range %}
        {% if page == publications.number %}
         <li class="page-item active" aria-current="page">
         <a href="?page={{page}}" class="page-link">{{page}}</a>
         </li>
        {% else %}
        <li><a href="?page={{page}}" class="page-link">{{page}}</a></li>
        {% endif %}
        {% endfor %}

        {% if publications.has_next %}
         <li><a href="?page={{publications.next_page_number}}" class="btn page-link">&raquo</a></li>
        {% endif %}
    </ul>
</div>

{% endif %}

{% endblock content %}
