{% extends "uminity_coms/base.html" %}

{% block page_header %}
<nav aria-label="breadcrumb" >
  <ol class="breadcrumb card-header">
    <li class="breadcrumb-item"><a href="{% url 'uminity_coms:index' %}">Головна</a></li>
    <li class="breadcrumb-item"><a href="{% url 'uminity_coms:topics' %}">Форум</a></li></li>
    <li class="breadcrumb-item active" aria-current="page">{{ topic }}</li>
  </ol>
</nav>
{% endblock page_header %}

{% block content %}

<div class="container">
  <div class="row" >
    <div class="col-lg-8">
      <h2>Топіки
        <a class="btn btn-primary top" href="{% url 'uminity_coms:new_subtopic' topic.id %}" role="button">
            Додати підтему
        </a>
      </h2>
        {% for subtopic in subtopics %}
        <div>
            <p class="book-radius book-subtopic user">
              <a href="#" class="book-subtopic user">{{ user }}</a>
               {{ user.date_joined|date:"d F Y"|lower }}<br>
              <a href="{% url 'uminity_coms:subtopic' subtopic.id %}" class="book-subtopic theme">{{ subtopic }}</a><br>
                <span class="book-subtopic comments">({{ subtopic.comment_count }} коментарів)</span><br>
            </p>
        </div>
        {% empty %}
            <p>Не додано жодної підтеми.</p>
        {% endfor %}
    </div>
    <div class="col-lg-4">
      <p class="text-secondary font-weight-bold top-menu-font">Коментарі</p>
        {% for comment_time in comments_time_ago %}
        <p class="comment_look">{{ comment_time.comment.name }}: {{ comment_time.comment.text }}</p>
        <p class="text-muted member-since comments">
            <a href="#" class="text-muted member-since comments">
                {{ comment_time.time_ago }}
            </a>
        </p>
        {% endfor %}
    </div>
  </div>
</div>

{% if subtopics.has_other_pages %}
<div class="d-flex justify-content-center">
    <ul class="pagination">
        {% if subtopics.has_previous %}
         <li><a href="?page={{subtopics.previous_page_number}}" class="page-link">&laquo</a></li>
        {% endif %}

        {% for page in custom_range %}
        {% if page == subtopics.number %}
         <li class="page-item active" aria-current="page">
         <a href="?page={{page}}" class="page-link">{{page}}</a>
         </li>
        {% else %}
        <li><a href="?page={{page}}" class="page-link">{{page}}</a></li>
        {% endif %}
        {% endfor %}

        {% if subtopics.has_next %}
         <li><a href="?page={{subtopics.next_page_number}}" class="btn page-link">&raquo</a></li>
        {% endif %}
    </ul>
</div>

{% endif %}

{% endblock content %}
