
.gradient-header {
    background: linear-gradient(to right, #413976 10%, #6254a5 50%, #3474de);
}
.btn.btn-primary {
  background-color: #6f62a9;
  color: #ffffff;
  border: none;
}

.btn.btn-primary.top {
  background-color: #554b9a;
  color: #ffffff;
  border: none;
  margin-left: 15px;
  font-family: BlinkMacSystemFont, sans-serif;
}

.btn.btn-primary.top.grey {
  background-color: #b4bfcb;
  color: #ffffff;
  border: none;
  margin-left: 15px;
  font-family: BlinkMacSystemFont, sans-serif;
}

.btn.btn-primary.top.grey:hover {
  background-color: #8478c4;
  color: #ffffff;
  border: none;
  margin-left: 15px;
  font-family: BlinkMacSystemFont, sans-serif;
}

.btn.btn-primary.top:hover {
  background-color: #413976;
  color: #ffffff;
  border: none;
  margin-left: 15px;
  font-family: BlinkMacSystemFont, sans-serif;
}

.btn.btn-primary.try_again {
  background-color: #8478c4;
  color: #ffffff;
  border: none;
  margin-left: 5px;
  font-family: BlinkMacSystemFont, sans-serif;
}

.btn.btn-primary.try_again:hover {
  background-color: #6254a5;
}

.btn.btn-primary.chosen {
  background-color: #5287de;
  color: #ffffff;
  border: none;
  margin-left: 5px;
  font-family: BlinkMacSystemFont, sans-serif;
}

.btn.btn-primary.chosen:hover {
  background-color: #3474de;
}

.btn.btn-primary:hover {
  background-color: #6254a5;
}
/* breadcrumb - start */
.breadcrumb-item {
  font-family: Poppins-SemiBold, sans-serif;
}

.breadcrumb-item a {
  color: #3474de;
}
/* breadcrumb - end */

h4 a,
h5 a,
h3 a {
  color: #3474de;
}

.dropdown-toggle.account-link {
  color: #413976;
}

.on-right {
    width: 100%;
    text-align: right;
}

.jumbotron {
  background-image: url("images/12.jpg");
  background-size: cover;
  height: 100%;
}

.text-primary {
  color: #0d6efd !important;
}

/* account - start */
@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('../fonts/FontsFree-Net-Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../fonts/SegoeUIVF.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoBold';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Oxygen';
  src: url('../fonts/Oxygen-Regular.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Cantarell';
  src: url('../fonts/Cantarell-Regular.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'sans-serif';
  src: url('../fonts/SansSerif.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

.profile-link {
  text-transform: capitalize;
  height: 36px;
  font-size: 34px;
  font-weight: 600;
  font-family: Poppins-SemiBold, sans-serif;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #444;
  margin: 0;
}

.member-since {
  height: 16px;
  font-size: 11px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  font-family: Segoe UI,Roboto,Oxygen,Cantarell,sans-serif;
  color: #737373;
  margin-top: 10px;
  margin-bottom: 12px;
}

.account-nav {
  font-family: Poppins-SemiBold, sans-serif;
  font-size: 11px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #444;
  width: 25%;
}

.horizontal-block-topic {
  width: 15%;
  margin-top: 5px;
  padding: 12px 0 1px 0;
  border-radius: 10px;
  text-align: center;
}

.horizontal-block {
  width: 15%;
  margin-top: 5px;
  padding: 12px 0 1px 0;
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.horizontal-block p {
  color: #6b6767;
  font-family: Poppins-SemiBold, sans-serif;
  font-size: 14px;
}

.horizontal-block:hover {
  background-color: #444;
}

.horizontal-block .no-hover:hover {
  background-color: #e9ecef;
}

.btn-primary.btn-account {
  background-color: #e9ecef;
  color: #333333;
  font-family: Poppins-SemiBol, sans-serif;
  padding-bottom: 10px;
  font-size: 14px;
}

.btn-primary.btn-account.exit {
  background-color: #e9ecef;
  color: #6c6b6b;
  font-family: Poppins-SemiBol, sans-serif;
  padding-bottom: 10px;
  margin-top: 10px;
  font-size: 14px;
}

.btn-account {
  width: 15%;
  font-size: 18px;
  padding: 10px 20px;
  margin-top: 5px;
}

.btn-account:active,
.btn-account:hover,
.btn-account:focus {
  outline: none !important;
  box-shadow: none !important;
  background-color: #dae5ef !important;
  color: #333333 !important;
}
/* account - end */

/* head - start */
.logo-font {
  font-family: Segoe UI,Roboto,Oxygen,Cantarell,sans-serif;
  margin-top: 5px;
}

.top-menu-font {
  font-family: Oxygen, sans-serif;
}

.account-font {
  font-family: Poppins-SemiBol, sans-serif;
}
/* head - end */

/* topic - start */
.member-since.biggest {
  height: 16px;
  font-size: 12px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  font-family: Segoe UI,Roboto,Oxygen,Cantarell,sans-serif;
  color: #737373;
  margin-top: 10px;
  margin-bottom: 12px;
}

.topic.title.bold {
  font-family: RobotoBold, sans-serif;
  margin-left: 18px;
  font-weight: 700;
  line-height: 1.27;
  font-size: 30px;
}

.topic.description {
  font-family: Roboto, sans-serif;
  margin-left: 18px;
  line-height: 1.5;
  font-size: 17px;
}
/* topic - end */

/* book - start */
.card-body.book {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title-book {
  margin-bottom: 1rem;
  font-family: Poppins-SemiBol, sans-serif;
}

.card-text-book {
  margin-bottom: 1rem;
  font-family: Poppins-SemiBol, sans-serif;
  font-size: 14px;
}

.card.color{
  background-color: #e9ecef;
}

.card.color:hover,
.card.color:active {
  background-color: #cbd0ef;
}

.book-radius {
  border-radius: 10px;
}

.book-subtopic {
  font-size: 18px;
  padding: 1px 1px;
  font-family: Poppins-SemiBol, sans-serif;
}

.book-subtopic.user {
  font-size: 12px;
  color: #737373;
  margin-left: 10px;
}

.book-subtopic.theme {
  display: inline-block;
  font-size: 18px;
  margin-left: 10px;
}

.book-subtopic.comments {
  font-size: 12px;
  color: #737373;
  margin-left: 10px;
  padding-top: 0;
}

.book-radius:active,
.book-radius:hover,
.book-radius:focus {
  outline: none !important;
  box-shadow: none !important;
  background-color: #e9ecef !important;
  color: #333333 !important;
}
/* book - end */

/* comments - start */
.comment_look {
    font-size: 12px;
    line-height: 1.4;
    border: 1px solid #ebe2ce;
    padding: 5px 2px 5px 7px;
    margin-bottom: 0;
    border-radius: 5px;
    position: relative;
    font-family: Poppins-SemiBol, sans-serif;
    background: linear-gradient(to top, #fdf5dc, #faf8ee);
}

.member-since.comments {
  font-size: 11px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  font-family: Segoe UI,Roboto,Oxygen,Cantarell,sans-serif;
  color: #737373;
  margin-top: 0px;
  margin-bottom: 12px;
}
.comments.write_block {
  font-size: 15px;
  font-family: Poppins-SemiBol, sans-serif;
  height: 35px;
  width: 70%;
  border: 1px solid #ccc;
  outline: 0;
  resize: none;
  padding: 6px 8px 4px;
}

.comments.write_block::placeholder {
  color: gray;
}

.subtopic.comments {
  font-family: Roboto, sans-serif;
  margin-left: 0px;
  line-height: 1.5;
  font-size: 15px;
}

/* comments - end */
