{% extends "uminity_coms/base.html" %}

{% block page_header %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb card-header">
        <li class="breadcrumb-item"><a href="{% url 'uminity_coms:index' %}">Головна</a></li>
        <li class="breadcrumb-item"><a href="{% url 'uminity_coms:competitions' %}">Конкурси</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ competition.text }}</li>
    </ol>
</nav>
{% endblock page_header %}

{% block content %}

{% for post in list_stories %}
<div>

    <div>
        <div class="pl-5">
            {# Виведіть назву конкурсної роботи #}
<h5><a href="{% url 'uminity_coms:post' post.competition.slug post.slug %}">{{ post.text }}</a></h5>

        <div class="font-weight-light pl-5">{{ post.description }}</div>
    </div>
</div>
{% endfor %}
<hr>

{% endblock content %}
