{% extends "ruminity_coms/base.html" %}

{% block page_header %}
<nav aria-label="breadcrumb" >
  <ol class="breadcrumb card-header">
    <li class="breadcrumb-item"><a href="{% url 'ruminity_coms:index' %}">Головна</a></li>
    <li class="breadcrumb-item active" aria-current="page">Конкурси</li>

  </ol>
</nav>
{% endblock page_header %}

{% block content %}

{% for competition in competitions %}
    <div>

        <div>
            <div class="pl-5">
                {{ competition.slug }}
                <h5><a href="{{ competition.slug }}">{{ competition.text }}</a></h5>

            <div class="font-weight-light pl-5">{{ competition.description }}</div>
        </div>
    </div>
{% endfor %}
<hr>


{% endblock content %}
