{% extends "ruminity_coms/base.html" %}

{% block page_header %}
    <div class="jumbotron">
        <h1 class="display-3">Вітаємо у <color class="text-success">rumi</color>nity!</h1>

        <p class="lead">Приєднуйтесь до спільноти "#Ruminity". На Вас чекають цікаві новинки,
            захоплюючі конкурси та гарячі дискусіЇ. За бажаняям Ви можете додати свій твір та отримати на нього
            фідбєк.</p>

        <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}" role="button">Долучитися &raquo;</a>
    </div>
{% endblock page_header %}




