{% extends "ruminity_coms/base.html" %}

{% block content %}
<p>Обрана тема: {{ topic }}</p>

<p>Список підтем:</p>

<ul>
    {% for subtopic in subtopics %}
        <li>
            <a href="{% url 'ruminity_coms:subtopic' subtopic.id %}">{{ subtopic }}</a>
        </li>
    {% empty %}
        <li>Не додано жодної підтеми.</li>
    {% endfor %}
</ul>

<p>
    <a href="{% url 'ruminity_coms:new_subtopic' topic.id %}">Додати нову підтему</a>
</p>

{% if subtopics.has_other_pages %}
<div class="d-flex justify-content-center">
    <ul class="pagination">
        {% if subtopics.has_previous %}
         <li><a href="?page={{subtopics.previous_page_number}}" class="page-link">&laquo</a></li>
        {% endif %}

        {% for page in custom_range %}
        {% if page == subtopics.number %}
         <li class="page-item active" aria-current="page">
         <a href="?page={{page}}" class="page-link">{{page}}</a>
         </li>
        {% else %}
        <li><a href="?page={{page}}" class="page-link">{{page}}</a></li>
        {% endif %}
        {% endfor %}

        {% if subtopics.has_next %}
         <li><a href="?page={{subtopics.next_page_number}}" class="btn page-link">&raquo</a></li>
        {% endif %}
    </ul>
</div>

{% endif %}

{% endblock content %}