{% extends "uminity_coms/base.html" %}

{% load bootstrap4 %}
{% load static %}

{% block page_header %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb card-header">
    <li class="breadcrumb-item"><a href="{% url 'uminity_coms:index' %}">Головна</a></li>
    <li class="breadcrumb-item active" aria-current="page">Форум</li>
  </ol>
</nav>
{% endblock page_header %}

{% block content %}
<br>
<div class="container">
      <div class="row text-secondary font-weight-bold">
        <div class="col text-center top-menu-font">
          Тема
        </div>
        <div class="col text-center top-menu-font">
          Останнє повідомлення
        </div>
        <div class="col text-center top-menu-font d-none d-sm-block">
          Підтеми
        </div>

  </div>

    <br>
    {% for topic in topics %}

  <div class="row justify-content-center text-center card-body">

    <div class="col text-left">
        <div class="pl-5 account-font">
        <h5><a href="{% url 'uminity_coms:subtopics' topic.id %}">{{ topic }}</a></h5></div>
        <div class="font-weight-light pl-5 member-since biggest">{{ topic.description }}</div>
    </div>

    <div class="col text-center account-font">
        {% with last_comment=topic.get_last_comment %}
          {% if last_comment.comment %}
            <a href="{% url 'uminity_coms:subtopic' last_comment.subtopic.id %}#comment-{{ last_comment.comment.id }}">
              {{ last_comment.comment.text }}
            </a>
          {% else %}
            No comments yet.
          {% endif %}
        {% endwith %}
    </div>

    <div class="col text-center d-none d-sm-block account-font">
        {{ topic.subtopic_set.count }}
    </div>
  </div>
    {% endfor %}

</div>


{% endblock content %}