{% extends "uminity_coms/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
<nav aria-label="breadcrumb" >
  <ol class="breadcrumb card-header">
    <li class="breadcrumb-item"><a href="{% url 'uminity_coms:index' %}">Головна</a></li>
    <li class="breadcrumb-item active" aria-current="page">Список книг</li>
  </ol>
</nav>
{% endblock page_header %}

{% block content %}

<div class="container">
  <div class="row">
    {% for block in blocks %}
    <div class="col-lg-4 col-md-6 mb-4">
      <a href="#">
      <div class="card color h-100 rounded">
        <div class="card-body book">
            <h5 class="card-title-book">{{ block.text }}</h5>
          <p class="card-text-book">{{ block.description }}</p>
        </div>
      </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock content %}
